<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias type="com.ict.bbs.model.vo.BBS_VO" alias="bbs_vo"/>
		<typeAlias type="com.ict.bbs.model.vo.Comment_VO" alias="bbs_cvo"/>
		<!-- <typeAlias type="com.ict.board.model.vo.Board_VO" alias="board_vo"/> -->
	</typeAliases>
	<mappers>
		<!-- bbs  -->
		<mapper resource="mappers/bbs-mapper.xml" />
		<!-- board  -->
		<!-- <mapper resource="mappers/board-mapper.xml" /> -->
	</mappers>
</configuration>
